[submodule "deps/pike"]
	path = deps/pike
	url = git://github.com/lithdew/pike.git
[submodule "deps/zlm"]
	path = deps/zlm
	url = git://github.com/ziglibs/zlm.git
[submodule "deps/zap"]
	path = deps/zap
	url = git://github.com/kprotty/zap.git
	branch = ziggo
